.cont{
    text-align: center;
    padding-top: 25px;
background: gray;
padding-bottom: 20px;
margin-top: 30px;
line-height: 3;
width: 40%;
border-radius: 20px;
background-image: linear-gradient(to right top, #cec816, #8ed156, #51d18b, #1bccb7, #40c3cf);
}
.hero .row{
    height: 90vh;
}
h1{
    text-shadow: 2px 2px #ff0000;
}
.line{
    line-height: 1.7;
    background-image: linear-gradient(to right top, #cec816, #8ed156, #51d18b, #1bccb7, #40c3cf);
}
