:root{
    --primary: rgb(52, 244, 116);
    --secondary: rgb(52, 126, 244);
    --text: rgb(17, 17, 17);
    --white:white;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --grad1: linear-gradient(to right top, #47ffde, #00d3e9, #00a3ee, #006fdc, #1432a9);
    --grad2: linear-gradient(to right top, #47bbff, #7498ed, #9b70c7, #ae448f, #a9144f);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out !important;
}
body{
    background: var(--grad1) !important;
}
/* Navbar CSS */
.navbar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown-menu{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0px !important;
    margin-top: 25px !important; 
    border: none !important;
    padding: 0px !important;
}
.dropdown-menu li{
    padding: 0px !important;
    margin: 0px !important;

}
.dropdown-menu li .dropdown-item{
    padding: 15px !important;
}
.navbar-toggler{
    border: 0 !important;
}
.navbar-toggler:active, .navbar-toggler:focus{
    outline: none !important;
}
.btn-outline-primary, .btn-outline-secondary{
    border-radius: 1px !important;
}
.btn-outline-primary{
    border-color: var(--primary) !important;
    color: var(--text) !important;
    transition: all .3s ease-in-out !important;
}
.btn-outline-primary:hover{
    background-color: var(--primary) !important;
    color: white !important;
}

/* Hero Section CSS */

.hero, .hero .row{
    height: 90vh;
    
    /* background: #000; */
}
.hero img{
    transition: all .5s ease-out !important;
    transform: scale(1) !important;
}
.hero img:hover{
    transform: scale(1.04) !important;

}

/* Info section */
.info .card{
    border: none;
    box-shadow: var(--shadow);
    text-align: center;
    transition: .3s ease-in-out !important;
}
.info .card:hover{
    box-shadow: var(--shadow);
    background: var(--grad2);
    color: var(--white);
}
.info .card-body{
    padding-top: 15px;
}
.info .card i{
    font-size: 55px;
    padding: 7px 21px;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary);
}
/* .info .card i{
    font-size: 55px;
    padding: 7px;
    border-radius: 50px;
    color: var(--white);
    background: var(--primary);
} */